body {
    background: #FFF0BC url(images/fr_bg.png);
}

span.pathway a {
    background: url(images/fr_arrow.png) 100% 0 no-repeat;
}

a.readon {
    background: url(images/fr_bullet.png) no-repeat;
}

body {
    color: #9D3A04;
}

a:link, a:visited {
    color: #471704;
}

a.mainlevel {
    background: url(images/fr_menu.png) 100% 0 no-repeat;
}

div#left ul.menu li {
    background: url(images/fr_menu_visitor.png) 100% 0 no-repeat;
    width: 158px;
}

a.mainlevel-bookbtn {
    background: url(images/fr_menu_bookbtn.png) 100% 0 no-repeat;
}

a.mainlevel-otherbtn {
    background: url(images/fr_menu_otherbtn.png) 100% 0 no-repeat;
}

a.mainlevel:link, a.mainlevel:visited, div#left ul.menu a:link, div#left ul.menu a:visited {
    color: #630000;
}

div#left ul.menu a:hover {
    color: #000;
}

a.mainlevel#active_menu, a.sublevel#active_menu {
    color: #000;
}

a.sublevel:link, a.sublevel:visited {
    color: #63000;
}

a.sublevel:hover {
    color: #000;
}

.small, .modifydate, .createdate {
    color: #4E1B00;
}

td.buttonheading {
    border-top: 1px solid #6A0000;
    border-left: 1px solid #6A0000;
    border-right: 1px solid #6A0000;
    font-size: 10px;
}

td.sectiontableheader {
    background: #B14104;
    color: #F9C9AE;
    border-right: 1px solid #9D3A04;
}

div#shadow {
    background: #FAEDC5 url(images/fr_bg_shadow.png);
}

div#header {
    background: #471704 url(images/fr_header.png) 100% 0 repeat-x;
}

span#logo {
    background: url(images/fr_logo.png) no-repeat;
}

#smaller .button {
    background: url(images/fr_css_small.png) no-repeat;
}

#medium .button {
    background: url(images/fr_css_med.png) no-repeat;
}

#larger .button {
    background: url(images/fr_css_large.png) no-repeat;
}

#wide .button {
    background: url(images/fr_css_wide.png) no-repeat;
}

#narrow .button {
    background: url(images/fr_css_narrow.png) no-repeat;
}

div#graphic {
    background: url(images/fr_graphic.jpg) 50% 0 no-repeat;
}

div#spotlight {
    height: 117px;
}

td#left-col {
    background: #FCEBB9 url(images/fr_leftdiv_bg.png);
}

td#middle-col {
    background: #FFFFFF url(images/fr_middle_bg.png);
    padding-bottom: 60px;
}

td#right-col {
    background: #FFFFFF url(images/fr_right_bg.png);
}

div#left div {
    background: #FCEBB9 url(images/fr_leftdiv_bg.png);
}

div#left p, div#left ul {
    background: #FCEBB9 url(images/fr_left_bg.png);
}

div#right div, div#right div.padright, div#right p, div#right li {
    color: #6A0000;
    background: #D9A84C url(images/fr_right_bg.png);
    width: 180px;
}

#right .newsflash {
    font-family: Arial, Helvetica, sans-serif;
    width: 144px;
}

#right .custom {
    margin-left: -3px;
}

div#right a {
    color: #7D1C04;
}

div#left {
    background: url(images/fr_left_corner.png);
}

div#middle {
    background: url(images/fr_middle_top.png) 0 0 repeat-x;
}

div#right {
    background: url(images/fr_right_top.png) 0 0 repeat-x;
}

div#left div.shadow {
    background: url(images/fr_middle_shadow.png) 100% 0 no-repeat;
}

div#middle div.shadow_1 {
    background: url(images/fr_middle_corner.png) 0 0 no-repeat;
}

div#middle div.shadow_2 {
    background: url(images/fr_right_shadow.png) 100% 0 no-repeat;
}

div#right div.shadow {
    background: url(images/fr_right_corner.png) 0 0 no-repeat;
}

div.moduletable h3 {
    background: url(images/fr_head_left.png) 100% 0 no-repeat;
    color: #B5851D;
}

.componentheading {
    background: url(images/fr_head_left.png) 100% 0 no-repeat;
    color: #000;
}

.contentheading {
    background: url(images/fr_contenttitle.png) 0 0 no-repeat;
    color: #AD0303;
}

.items-row {
    padding-top: 12px;
}

.blog {
    margin: 0 16px 0 0;
}

.contentheading a {
    color: #AD0303;
}

div#middle div.moduletable h3, .componentheading {
    background: url(images/fr_title.png) 0 0 no-repeat;
    font-size: 150%;
    color: #D60000;
}

div.weblink-category h2 {
    background: url(images/fr_title.png) 0 0 no-repeat;
    font-size: 150%;
    color: #D60000;
}

div#right div.moduletable h3 {
    background: url(images/fr_head_right.png) 0 0 no-repeat;
    color: #000;
}

div#top div.moduletable h3 {
    background: url(images/fr_title2.png) 0 0 no-repeat;
    color: #471704;
}

div#top {
}

div#top .corner_1 {
}

div#top .corner_2 {
}

div#bottom div.moduletable h3 {
    color: #471704;
    background: none;
}

div#bottom {
    background: #D8BA61 url(images/fr_bottom_shadow.png) 100% 0 repeat-y;
}

div#bottom .corner_1 {
    background: url(images/fr_bottom_tl.png) 0 0 no-repeat;
}

div#bottom .corner_2 {
    background: url(images/fr_bottom_bl.png) 0 100% no-repeat;
}

div#vbottom {
    border-top: 15px solid #380000;
}

div#vbottom a:link, div#vbottom a:visited, div#vbottom a:hover {
    color: #9E6E1B;
}

div#vbottom div {
    border-top: 10px solid #670000;
    color: #9E6E1B;
}

#nav li {
    background: url(images/fr_tab_r.png) 100% -40px no-repeat;
}

#nav li.on ul {
    background: #471704;
}

#nav a {
    background: url(images/fr_tab_l.png) 0 -40px no-repeat;
    color: #000;
}

#nav li.on a, #nav li.on:hover a, #nav li.over.on a {
    color: #FCF0E0;
}

#nav li ul {
    background: #712406;
}

#nav ul li {
    background: none;
}

#nav li ul a, #nav li.on ul a {
    border-right: 1px solid #5C1E05;
}

.login {
    width: 155px;
}

table.category {
    width: 500px;
}

table.category p {
    margin: 12px 0 0 0;
}

ul.latestnews a {
    font-size: 10px;
    font-weight: bold;
    line-height: 11px;
    color: white;
    border-bottom: 1px solid black;
    height: 30px;
    display: block;
    text-align: center;
    margin-top: 10px;
}